
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .form {
    &--vertical {
      max-width: 500px;
      margin: 0 auto;
      .form__content {
        max-width: 350px;
      }
    }
  }

  .header {
    padding: 5px 0;
    .logo {
      margin-left: 0;
    }
    .text-phone {
      margin: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $accent;    
    position: fixed;
    top: 86px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;
        a {
        color: #ffffff;
        }
        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s {

    &-main {
      &__block {
        margin-top: 86px;
      }
    }

    &-provide {
      .provide {
        margin-bottom: 25px;
        &__img {
          margin: 0 auto 10px;
          text-align: center;
        }
        &__text {
          text-align: center;
        }
      }
    }

    &-company {

      &__title {
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
      }
    }

    &-lider {
      .lider {
        &__block {
          margin: 0 0 30px 0;
        }
      }
      &__img {
        text-align: center;
      }
    }

    &-contact {
      .contact {
        &__content {
          margin-left: 0;
          max-width: none;
        }
        &__phone, &__address, &__info {
          font-size: 16px;
        }
      }
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &__title {
      font-size: 18px;
    }
    &--horizontal {
      padding: 20px 10px;
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
        max-width: none;
      }  
      .button {
        max-width: none;
      }
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
    }      
  }

  .s {
    &-main {
      padding-bottom: 35px;
      // background-image: url("../img/main-back.jpg");
      // background-size: contain;
      // background-position: top center;
      &__block {
        // background-size: contain;
        background-position: top left;
        // background-image: none;
        // padding-top: 50px;
      }
      &__title {
        font-size: 30px;
        margin-bottom: 25px;
      }
      ul {
        padding-bottom: 0;
        margin-bottom: 80px;
      }

      .form {
        margin-top: 0;
      }
    } 

    &-service {
      &__content {
        display: none;
      }
      .carousel-service {
        display: block;
      }
    }

    &-help {
      &__content {
        display: none;
      }
      .carousel-help {
        display: block;
      }
    }

    &-reviews {
      .carousel-reviews {
        padding: 0 80px;
      }
    }

    &-legal {
      .owl-carousel {
        .owl {
          &-item {
            padding: 0 5px 0px;
          }
      
          &-nav {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 140px;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 0;
          }
      
          &-prev, &-next {
            position: static;
            transform: none;
          }
        
        }
      }

      &__text {
        margin: 0 auto 30px 0;
        font-size: 16px;
      }
      &__title {
        margin-top: 20px;
      }
    }

    &-garant {
      padding: 40px 0 25px;
    }

    &-comand {
      &__title {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }

    &-contact {
      .map {
        & > ymaps {
          height: 300px !important;
        }
      }
      .contact {
        position: relative;
        padding: 20px 0;
        &__content {
          display: block;
        }
        &__phone, &__address, &__info {
          justify-content: flex-start;
          margin-bottom: 25px;
        }
        &__info {
          margin-bottom: 0;
        }
      }
    }

    &-thanks {
      padding-top: 90px;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .break {
    display: inline;
  }

  .page-top {
    bottom: 70px;
  }

  .callback__wrapper {
    display: block !important; 
  }

  .remodal {
    padding: 25px 10px 10px;
  }

  .srok {
    display: block;
    text-align: center;
    &__title {
      margin-bottom: 5px;
    }
  }

  
  .s {
    &-service {
      .service {
        min-height: 250px;

        &__komplex {
          min-height: 250px;
          padding: 25px 10px 30px;
        }
      }      
    }

    &-reviews {
      .carousel-reviews {
        padding: 0;
      }
    }

    &-garant {
      .garant {
        margin-bottom: 25px;
        &__text {
          max-width: none;
          margin-bottom: 10px;
        }
      }
    }

    &-comand {
      .carousel-comand {
        padding: 0 35px;
      }
      .comand {
        display: block;
        &__img {
          margin: 0 auto 10px;
        }
        &__name {
          text-align: center;
          margin-bottom: 10px;
        }
        &__work {
          margin-bottom: 10px;
        }
      }
    }

    &-company {
      .company {
        &__img {
          width: 50%;
          margin-bottom: 25px;
          text-align: center;
        }
        &__title {
          font-size: 34px;
          margin-left: 0;
          &--min {
            font-size: 30px;
          }
        }
        &__text {
          margin: 0 0 20px;
        }
      }
      &__content {
        flex-wrap: wrap;
      }
      
    }

    &-lider {
      .lider {
        &__text {
          font-size: 16px;
        }
      }
    }

    &-thanks {
      padding: 90px 0 0px;
      
      &__content {
        min-height: 400px;
        margin: 0 -15px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}